* {
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-orange: #DAA520;
  --color-light-orange: #F7DEA6;
  --color-light-pink: rgba(249, 189, 189, 0.25);
  --color-pink: #F9BDBD;
  --color-light-blue: #A8DCEC;
  --color-main-black: #3E3F43;
  --color-trans-black: #595959;
  --color-light-gray: rgba(34, 34, 34, 0.1);

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 800;
}

body {
  background-color: antiquewhite;

  font-family: 'Nunito', sans-serif;
  color: var(--color-main-black);
}

.main-wrapper {
  max-width: 1152px;
  margin: 0 auto;
  background-color: var(--color-white);
  overflow: hidden;
}

/* common styles */

.semibold {
  font-weight: var(--font-semi-bold);
}

.background-pink {
  background-color: var(--color-pink);
}

.background-yellow {
  background-color: var(--color-light-orange);
}

.background-blue {
  background-color: var(--color-light-blue);
}

.button {
  height: 50px;

  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: var(--font-bold);

  color: var(--color-white);
  background-color: var(--color-orange);

  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header {
  display: flex;
  align-items: center;
  height: 98px;

  padding: 0 100px;
}

.section-header-icon {
  fill: green;
}

.section-header-title {
  margin: 0 16px 0 8px;

  font-size: 36px;
  font-weight: var(--font-bold);
  line-height: 49px;
}

.section-header-divider {
  flex-grow: 1;
  background-color: black;
  height: 1px;
}

.section-header-subtitle {
  font-size: 72px;
  font-weight: var(--font-black);
  line-height: 98px;
  color: var(--color-light-gray);
  text-transform: uppercase;
}

/* HEADER */

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;
  max-width: 1152px;

  padding: 0 28px 0 80px;
}

/* LOGO */

.logo-text {
  display: inline-block;
  margin-left: 8px;

  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

/* MAIN MENU */

.main-navigation {
  margin-left: auto;
  font-size: 16px;
}

.main-menu {
  height: 40px;
}

.menu-item {
  display: block;
  padding: 12px 24px;
}

.menu-item-active {
  color: var(--color-orange);
  font-weight: var(--font-black);
}

.menu-item:hover,
.sign-up-button:hover {
  background-color: rgb(239, 238, 232);
}

.sign-up-button {
  height: 40px;
  margin-left: 24px;
  padding: 0 36px;

  border-radius: 8px;
  border: 1px solid;
  border-color: var(--color-main-black);
  background-color: transparent;

  font-size: 16px;
  font-weight: var(--font-bold);
  text-transform: uppercase;

  cursor: pointer;
}

/* MAIN CONTENT */

.head-section {
  position: relative;
  padding-top: 217px;
  padding-left: 100px;

  height: 800px;
}

.text-section {
  position: absolute;
  width: 47%;
  z-index: 1;
}

.head-text {
  font-size: 36px;
  line-height: 49px;
}

.head-text-bold {
  font-weight: var(--font-bold);
}

.head-title {
  margin-top: 8px;

  font-size: 72px;
  font-weight: var(--font-bold);
  line-height: 98px;
}

.head-button {
  margin-top: 16px;

  width: 175px;
}

/*HEAD SECTION DECORATION */

.decoration {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  height: 800px;
  width: 630px;
}

.pink-rectangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  height: 800px;
  width: 370px;

  border-bottom-left-radius: 130px;

  background-color: var(--color-pink);
}

.decor-flower {
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 1;
}

.decor-image-table {
  position: absolute;
  bottom: 58px;
  right: 0;
  z-index: 2;
}

/* WHO WE ARE SECTION */

.section-who-we-are {
  padding-top: 120px;
}

.about-top-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
  padding: 0 100px;
}

.about-color-block {
  display: inline-block;
  height: 388px;
  width: 278px;

  margin-right: 148px;

  border: 1px solid black;
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px;

  background-color: var(--color-light-orange);
}

.about-plates-image {
  position: absolute;
  left: 130px;
  top: 80px;
  z-index: 1;
}

.about-top-text-container {
  width: 50%;
}

.about-top-text-title {
  font-size: 36px;
  font-weight: var(--font-black);
  line-height: 49px;
}

.about-top-text {
  font-size: 24px;
  line-height: 33px;

  margin-top: 16px;
}

.about-bottom-wrapper {
  margin-top: 40px;
  padding-left: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-bottom-text-container {
  max-width: 70%;
}

.about-bottom-text-title {
  font-size: 36px;
  line-height: 49px;
  font-weight: var(--font-black);
}

.about-bottom-text {
  margin-top: 16px;

  font-size: 24px;
  line-height: 33px;
}

.about-image-flower {
  position: absolute;
  top: 245px;
  left: -80px;
  z-index: 3;
}

/* HOW TO CUSTOM SECTION */

.section-how-to-custom {
  padding-top: 120px;
  text-align: center;
}

.steps-wrapper {
  display: flex;

  margin-top: 64px;
  padding: 0 100px;
}

.step {
  position: relative;
  text-align: center;
  flex-grow: 1;
}

.step-number {
  position: absolute;
  top: 20px;
  left: 18px;
  font-size: 96px;
  line-height: 131px;
  font-weight: var(--font-semi-bold);
  color: var(--color-light-pink);
}

.step-text {
  margin-top: 24px;

  font-size: 24px;
  font-weight: var(--font-bold);
  line-height: 33px;
  color: black;
}

.how-to-button {
  width: 212px;
  margin-top: 64px;
}

/* CATEGORIES SECTION */

.section-categories {
  padding-top: 120px;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  height: 840px;

  margin-top: 40px;
  padding: 0 100px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px 16px;
  overflow: hidden;

  width: 280px;
  height: 400px;

  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
}

.category-title {
  font-size: 24px;
  line-height: 33px;
  font-weight: var(--font-black);
}

.category-button {
  align-self: flex-end;
  width: 123px;
  height: 40px;

  font-size: 18px;

  border: 1px solid var(--color-main-black);
  border-radius: 4px;

  background-color: transparent;
}

.category-image {
  align-self: center;
}

.image-table {
  position: relative;
  left: -18px;
}

/* TESTIMONY SECTION */

.section-testimony {
  padding-top: 120px;
}
